        *{  
            margin:0;
            padding:0;
        }
        body, html {height: 100%}
        #background4{
				background-image: url('../images/p01_mini.jpg');
    			min-height: 100%;
    			background-position: center;
    			background-size: cover;
		}
		.s {
            -webkit-filter: grayscale(1);  /*沒有任何色彩的黑白影像 前綴詞*/
            
        }
        .n {
            -webkit-filter: grayscale(0);  /*顏色不變*/
        }
        #star{
        	width:420px;
        	margin:auto;
        	//border: 1px solid white;
        	//background-color: white;
        }
        #div1{
        	width:420px;
        	margin:auto;
        	color:white;
        	text-align: center;
        	font-size: 35px;
        	font-family:"微軟正黑體";
        }
